.main-board {
  margin: 10px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.game-finished {
  background-color: green;
}

.main-board .cell {
  width: 33%;
  height: 200px;
  background-color: gainsboro;
  border: 1px black;
  border-style: solid;
}
